@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Righteous');

.Dicent{
    width: 360px;
    height: 640px;
    background-color: salmon;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.dice-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    grid-column: 1;
}
.Dice{
    width: 100%;
    height: 100%;
    background-color: #bada55;
    box-sizing: border-box;
    border: 5px solid black;

    font-family: 'Press Start 2P', cursive;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.display-container{
    width: 100%;
    height: 100%;
    background-color: black;
    grid-column: 2;
    display: grid;
    grid-template-rows: 6fr 1fr;
}

.Display{
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    box-sizing: border-box;
    border: 5px solid black;

    font-family: 'Righteous', cursive;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    grid-row: 1;
}

.Control{
    width: 100%;
    height: 100%;
    background-color: #D06900;
    box-sizing: border-box;
    border: 5px solid black;

    font-family: 'Press Start 2P', cursive;

    grid-row: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

@media (max-width: 360px){
    .Dicent{
        width: 100%;
    }
}
@media  (max-height: 640px){
    .Dicent{
        height: 100vh;
    }
}
